/* 共通css */
*:focus {
  outline: none;
  }
* {
  box-sizing:border-box;
}

li {
  list-style:none;
}

a:hover {
  color:white;
  text-decoration:none;
}
.apple {
  font-family:Apple Chancery;
}
dt {
  display:block;
  float:left;

}

dd {
  display:block;
  padding-left:100px;
  padding-bottom:20px;
}

.text-weight {
  font-weight:bold;
  font-size:25px;

}
/* 共通cssここまで */
/* heagerここから */
header {
  padding:0 50px;
  width:100%;
  position:fixed;
  z-index:11;
  height:65px;
  background-color:rgba(105,105,105,0.5);
  color: white;
}
.header-left {
  float:left;
}
.header-left h2 {
  line-height:65px;
}
.header-right {
  float:right;
}

.header-right  {
  font-size:40px;
  color:white;

}
.fas,.list {
  cursor:pointer;
}
/* headerメニュー */
.wide-menu {
  margin-right:20px;
  display:flex;
}
.wide-menu a{
  padding:0 10px;
  line-height:65px;
  font-size:35px;
  color:white;
  margin-right:50px;

}
.wide-menu a:hover {
  background:rgba(105,105,105,0.6);
  color:white;
  text-decoration:none;
}
.menu {
  width:100%;
  position:absolute;
  top:65px;
  right:0;
  z-index:1;
  background-color:rgba(105,105,105,0.5);
  display:none;
}
.close-btn,.hamburger {
  line-height:65px;
}
.hamburger {
  display:none;
}

.close-btn {
  display:none;
  color: white;
  font-size:45px;
}
.menu-list li  {
  padding:0 20px;
  margin:20px 10px;
  font-size:30px;
  color:#f5f5f5;
  border-bottom: 1px solid #b0c4de;
  cursor:pointer;
}
.menu-list a:hover{
  text-decoration:none;
}
.top-menu   {
    color:white;
    margin-left:10px;
    padding-left:20px;           /* デフォルトCSS打ち消し */
    font-size:  40px;       /* 文字サイズ指定 */
    position:  relative;    /* 位置調整 */
    font-weight:  normal;   /* 文字の太さ調整 */
    margin-bottom: 15px;    /* 周りの余白指定 */
    border-bottom: solid 2px rgba(176, 196, 222, 1);        /* 線指定 */
    border-radius: 0px 0px 160px 180px/0px 0px 20px 4px;
}

.list:hover {
  background-color:rgba(255,255,255,0.4);
  color:black;
}
/* headerここまで */
/* carousel */
.carousel-item {
  display:flex;
  align-items: center;
  justify-content: center;
}
.carousel-caption {
  text-shadow: 2px 2px 1px #000,
             -2px 2px 1px #000,
             2px -2px 1px #000,
             -2px -2px 1px #000;
}
.carousel-bottom {
  margin-bottom:300px;
}
.carousel-message {
  font-family:cursive;
  font-size:4em;
  display:none;
}
.carousel-title {
  font-size:50px;
   font-family:Snell Roundhand ;
}

/* carouselここまで */
.border-line {
  position:relative;
  border:3px solid  #c0c0c0;
  margin-bottom:0;
}
.border-line:after {
  border: 20px solid transparent;
        border-top-color: #c0c0c0;
        border-bottom-width: 0;
        bottom: 0;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top:2px;
        width: 0;
        z-index:1;

}
/* responsive-imgここから */
.responsive-img  {
  background-color:#f8f8ff;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  border-bottom:5px solid #c0c0c0;
}
.responsive-img h1{
  font-size:5rem;
}
/* responsive-imgここまで */
/* introduction */
.introduction-wrapper {
  background-image:url(../img/introduction-bg-img.png);
  background-size:cover;
}
/* introductionここまで */
/* worksここから */
.careful {
  font-size:60%;
}
.works {
  background-image: url(../img/works-bg-img.png);
  border-top:3px solid #deb887;
}
#works {
  margin:  0;                 /* デフォルトCSS打ち消し */
    position:  relative;        /* 位置調整 */
    font-weight:  normal;       /* 文字の太さ調整 */
    font-size: 50px;            /* 文字サイズ指定 */
    text-align:  center;        /* 文字位置指定 */
    padding: 20px 0 15px;       /* 余白指定 */
    border-top: solid 2px;      /* 線指定 */
    border-bottom:  solid 2px;  /* 線指定 */
    width:  320px;              /* 幅指定 */
    margin: 0 auto 35px;    
  
}
.row-eq-height {
  display:flex;
  flex-wrap:wrap;
}
.card {
  overflow:hidden;
}
.card-text {
  font-size:95%;
}
.card img:hover {
  transform:scale(1.1);
  transition-duration:0.3s;
}
.work-title {
  font-size:140%;
  margin:  0;             /* デフォルトCSS打ち消し */       /* 文字サイズ指定 */
    position:  relative;    /* 位置調整 */
    font-weight:  bold;   /* 文字の太さ調整 */
    margin-bottom: 15px;    /* 周りの余白指定 */
    border-bottom: solid 4px rgba(76, 175, 80, 0.6);        /* 線指定 */
    border-radius: 0px 0px 160px 180px/0px 0px 20px 4px;
}
/* worksここまで */
/* formここから */
form {
  background-image:url(../img/form-bg-img.png);
  border-top:2px solid #b0c4de;
  border-bottom:2px solid #b0c4de;
}
input,textarea {
  border-radius:4px;
  width:75%;
}.contact-form dt {
  width:25%;
}
.contact-form span {
  color:red;
}
.button {
  text-align:center;
} 
.submit {
  cursor:pointer;
  display:inline-block;
  background-image:url(../img/form-bg-img.png);
  border-radius:50%;
  border:1px solid #a9a9a9;
  color: #a9a9a9;
  box-shadow:0 4px #808080;
}
.submit:active {
  position: relative;
  top:4px;
  box-shadow:none;
  outline:none;
}
/* formここまで*/
/* referenceここから */
.reference  ul{
  display:inline-block;
  flex-direction:column;
}
/* referenceここまで */
/* formここから */
footer {
  height:65px;
  line-height:65px;
  color:white;
  background-color: rgb(105,105,105);
}